* {
    box-sizing: border-box;
}

:root {
    --primary-bg-color: #2F303A;
    --title-text-color: #212121;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

ul li {
    list-style: none;
    margin: 0;
}


/* header  */

.header-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.header-top span {
    color: #000;
}

.nav-list a {
    color: var(--title-text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.header-links a {
    color: #757575;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.header-top ul li a:hover {
    color: #2196F3;
}


/* main  */

main {
    text-align: center;
}

section h2 {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}


/* banner  */

.banner {
    background: var(--primary-bg-color);
}

.banner-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.banner-btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    color: white;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}

.banner-btn:hover {
    background: #757575;
}


/* features  */

.features-list h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
}

.features-list li {
    width: 270px;
    text-align: left;
}

.features-list p {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #757575;
}


/* teams  */

.teams-items {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.teams-item>h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.teams-item>p {
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}


/* footer */

footer {
    width: 100%;
    background: var(--primary-bg-color);
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
}

footer a {
    color: white;
}

.footer-list a {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.link {
    color: rgba(255, 255, 255, 0.6);
}


/* for footer link  */

.color-white {
    color: white;
}

address {
    font-style: normal;
}


/* portfolio  */

.main-list-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    background: #F5F4FA;
    text-align: center;
    letter-spacing: 0.03em;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.main-list-btn:hover {
    color: white;
    background: #2196f3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.store-item {
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    width: 370px;
}

.store-item h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}

.store-item p {
    line-height: 1.8;
    letter-spacing: 0.03em;
    color: #757575;
}

.container {
    text-align: start;
}